<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CAFE_LOGIN" value="05854912759"/>
    <add key="CAFE_SENHA" value="975FC3b**11"/>
  </appSettings>
</configuration>